h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chronicle Deck", serif;
}

.container {
    @include xy-grid-container;
    max-width: $global-width;
    margin: 0 auto;
    position: relative;
}

.flex-bottom {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.ff-cd {
    font-family: "Chronicle Deck", serif;
}

.ff-hn {
    font-family: "Helvetica Neue", sans-serif;
}

.red-bg {
    background: $primary-color;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a {
        color: white;
    }
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.flex-center-items {
    align-items: center;
    -webkit-align-items: center;
}