// global variables
$nav-height: ( small: 84px, large: 120px);
// colors
$menu-color: #404845;
$footer-menu-color: #bbbebd;
$light-gray: #dcd8d6;
$blue: #97daea;
body,
p {
	line-height: 1.4;
  @include breakpoint(mobile down) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chronicle Deck", serif;
}

.container {
  @include xy-grid-container;
  max-width: $global-width;
  margin: 0 auto;
  position: relative;
}

.flex-bottom {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.ff-cd {
  font-family: "Chronicle Deck", serif;
}

.ff-hn {
  font-family: "Helvetica Neue", serif;
}

.ff-hn-thin-cd {
  font-family: 'HelveticaNeueLTStd-ThCn', serif;
}

.ff-hn-ultralight-cd {
  font-family: 'HelveticaNeueLTStd-UltLtCn', serif;
}

.ff-hn-thin {
  font-family: 'HelveticaNeueLTStd-Th', serif;
}

.ff-hn-ultralight {
  font-family: 'HelveticaNeueLTStd-UltLt', serif;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.white-color {
  color: white;
}

.red-bg {
  background: $primary-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    color: white;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.light {
  font-weight: 400;
}

.lighter {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.flex-center-items {
  height: 100%;
  align-items: center;
  -webkit-align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fz-30 {
  line-height: 1.2;
  @include breakpoint(small) {
    font-size: 26px;
  }
  @include breakpoint(medium) {
    font-size: 30px;
  }
}

.big-dot {
  line-height: 0.001;
  @include breakpoint(small) {
    font-size: 51px;
  }
  @include breakpoint(medium) {
    font-size: 80px;
  }
}

.box-shadow {
  box-shadow: 8px 13px 18px 0px rgba(0, 0, 0, 0.15);
}

.text-shadow {
  text-shadow: 8px 13px 18px rgba(0, 0, 0, 0.15);
}

.site-logo {
  @include breakpoint(small) {
    width: 160px;
  }
  @include breakpoint(medium) {
    width: auto;
  }
}

.abs-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

.abs-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mb0 {
  margin-bottom: 0;
}

.nostyle-list {
  list-style-type: none;
  margin: 0;
}

.filter-list {
  margin-bottom: 55px;
  li {
    display: inline-block;
    margin-right: 24px;
    button {
      color: $secondary-color;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
    }
    &.active {
      button {
        color: $primary-color;
      }
    }
  }
  @include breakpoint(mobile down) {
    text-align: center;
    li {
      margin-right: 10px;
    }
  }
  @include breakpoint(375px down) {
    li {
      button {
        font-size: 14px;
      }
    }
  }
}

.h100p {
  height: 100%;
}

.hubspot-form-reset {
  form {
    margin: 0;
    .form-columns-1,
    .form-columns-2 {
      max-width: none;
      label {
        margin: 0;
        font-weight: normal;
      }
      input.hs-input,
      select.hs-input,
      textarea.hs-input {
        padding: 0;
        background: none;
        background-image: none;
        box-shadow: none;
        max-width: none;
        width: auto;
        margin-bottom: 0;
        border-radius: unset;
        display: block;
        box-sizing: border-box;
        border: none;
        line-height: 1;
      }
      div.input {
        margin-right: 0;
      }
      .field.hs-form-field {
        margin: 0;
      }
    }
    .hs_submit,
    .hs-submit {
      .actions {
        margin: 0;
        padding: 0;
        .hs-button {
          text-shadow: none;
        }
      }
    }
  }
}

@keyframes animate-width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-height {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes animate-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-overflow {
  overflow: hidden;
}

.arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 23px;
  border-color: transparent transparent transparent #59615e;
}

.arrow-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 23px 13px 0;
  border-color: transparent #59615e transparent transparent;
}

.float-right {
  float: right;
}

@include breakpoint(mobile down) {
  /* reverse stack mobile */
  .stack-up {
    order: 11;
  }
  .stack-down {
    order: 12;
  }
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-8 */
}