h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chronicle Deck", serif;
}

.container {
    @include xy-grid-container;
    max-width: $global-width;
    margin: 0 auto;
    position: relative;
}

.flex-bottom {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.ff-cd {
    font-family: "Chronicle Deck", serif;
}

.ff-hn {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.white-color {
    color: white;
}

.red-bg {
    background: $primary-color;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a {
        color: white;
    }
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.light {
    font-weight: 400;
}

.lighter {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.flex-center-items {
    height: 100%;
    align-items: center;
    -webkit-align-items: center;
}

.fz-30 {
    @include breakpoint(small) {
        font-size: 20px;
    }
    @include breakpoint(medium) {
        font-size: 30px;
    }
}

.big-dot {
    line-height: 0.001;
    @include breakpoint(small) {
        font-size: 51px;
    }
    @include breakpoint(medium) {
        font-size: 80px;
    }
}

.box-shadow {
    box-shadow: 8px 13px 18px 0px rgba(0, 0, 0, 0.15);
}

.text-shadow {
    text-shadow: 8px 13px 18px rgba(0, 0, 0, 0.15);
}

.site-logo {
    @include breakpoint(small) {
        width: 160px;
    }
    @include breakpoint(medium) {
        width: auto;
    }
}

.abs-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.mb0 {
    margin-bottom: 0;
}

.nostyle-list {
    list-style-type: none;
    margin: 0;
}

.filter-list {
    margin-bottom: 55px;
    li {
        display: inline-block;
        margin-right: 24px;
        button {
            color: $secondary-color;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
        }
        &.active {
            button {
                color: $primary-color;
            }
        }
    }
}

.hubspot-form-reset {
    form {
        margin: 0;
        .form-columns-1,
        .form-columns-2 {
            max-width: none;
            label {
                margin: 0;
                font-weight: normal;
            }
            input.hs-input,
            select.hs-input,
            textarea.hs-input {
                padding: 0;
                background: none;
                background-image: none;
                box-shadow: none;
                max-width: none;
                width: auto;
                margin-bottom: 0;
                border-radius: unset;
                display: block;
                box-sizing: border-box;
                border: none;
                line-height: 1;
            }
            div.input {
                margin-right: 0;
            }
            .field.hs-form-field {
                margin: 0;
            }
        }
        .hs_submit,
        .hs-submit {
            .actions {
                margin: 0;
                padding: 0;
                .hs-button {
                    text-shadow: none;
                }
            }
        }
    }
}

.fullscreen-bg__video {
    position: absolute;
    display: none;
    bottom: 0;
    z-index: -999;
    width: 100%;
}