.top-bar-title {
  margin: 0;
}
.site-header {
	transition: background 350ms;
	position: absolute;
	top: 0;
  background-color: white;
  z-index: 999;
  width: 100%;
  @include breakpoint(small) {
    height: map-get($nav-height, small);
    .grid-container,
    .grid-x {
      height: 100%;
    }
    .grid-x {
      align-items: center;
    }
  }
  @include breakpoint(large) {
    padding: 0 20px;
    height: map-get($nav-height, large);
  }
  &.pos-fixed {
    position: fixed;
  }
}

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

// Tablet and desktop menu
.dropdown.menu,
.top-menu .menu {
  justify-content: flex-end;
  li {
    &.button-menu {
      margin-left: 10px;
    }
    @include breakpoint(medium down) {
      text-align: center;
    }
  }
}

.top-menu .menu a,
.dropdown.menu a {
  font-size: 14px;
  color: $menu-color;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  line-height: 1;
  transition: color 300ms;
  &:hover:not(.button-menu) {
    color: $primary-color;
  }
  @include breakpoint(medium) {
    padding: 10px;
  }
}

.mobile-off-canvas-menu.off-canvas {
  padding-left: 40px;
  padding-top: 30px;
  .menu .is-active>a {
    background-color: #646a68;
  }
  .menu {
    a {
      padding: 10px 0;
      color: white;
      font-size: 16px;
      letter-spacing: 0.005em;
    }
    .button-menu {
      a {
        min-width: 215px;
        height: 41px;
        align-items: center;
        text-align: center;
        padding: 0;
        line-height: 41px;
        font-size: 18px;
        margin-top: 30px;
      }
    }
    .submenu {
      margin-left: 0;
      padding-left: 44px;
      padding-right: 20px;
      a {
        padding: 8px 0;
        line-height: 1.15;
        position: relative;
        &:before {
          content: "– ";
          position: absolute;
          left: -15px;
        }
      }
    }
  }
}

.top-menu {
  @include breakpoint(medium down) {
    display: none;
  }
  .menu a {
    font-weight: normal;
    padding: 0 0 17px 15px;
  }
}

.dropdown.menu .is-active>a,
.dropdown.menu .active>a {
  color: $primary-color;
}

.dropdown.menu .submenu {
  border: 0;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  margin-top: -2px;
  right: 11px;
}

.dropdown.menu .has-submenu.is-down-arrow>a::after {
  border: 0;
}

.site-navigation {
  @include breakpoint(mobile down) {
    padding: 0; // prevents container visibility on small screens
  }
}

/* Re-style hamburger menu */

.site-title-bar.title-bar {
  @include breakpoint(small) {
    position: absolute;
    background: none;
    padding: 0;
    width: 35px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: calc(#{map-get($grid-margin-gutters, small)} / 2);
    .title-bar-left,
    .title-bar-right {
      height: 100%;
      display: flex;
    }
    button.menu-icon {
      border: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      &::after {
        height: 3.75px;
        background: $primary-color;
        box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
      }
    }
  }
  @include breakpoint(mobile) {
    right: calc(#{map-get($grid-margin-gutters, mobile)} / 2);
  }
  @include breakpoint(medium) {
    right: calc(#{map-get($grid-margin-gutters, medium)} / 2);
  }
}

.menu .mobile-only {
  @include breakpoint(large) {
    display: none !important;
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

#request-demo {
	.form-section {
		ul.hs-error-msgs {
			display: none !important;
		}
		padding: 25px 0;
	}
}