.site-header {
    position: relative;
    padding: 36px 0 22px;
}

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
    @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
    @include show-for(medium);
}

// Site title
.site-desktop-title a {
    font-weight: bold;
}

// Mobile menu
.mobile-menu {
    display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
    >ul.menu {
        height: 100vh;
        padding: 1rem;
        a {
            color: $white;
            font-weight: 600;
            font-size: rem-calc(15);
        }
    }
    .menu .active>a {
        background-color: #ccc;
    }
}

.title-bar-title {
    a {
        font-size: 1rem;
        color: #B9B9B9;
    }
}

.mobile-menu,
.mobile-off-canvas-menu {
    .menu .is-active>a {}
}

// Tablet and desktop menu
.dropdown.menu,
.top-menu .menu {
  justify-content: flex-end;
}

.top-menu .menu a,
.dropdown.menu a {
    font-size: 14px;
    color: $menu-color;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    line-height: 1;
    padding: 10px 16px;
    transition: color 300ms;
    &:hover:not(.button-menu) {
      color: $primary-color;
    }
}

.top-menu .menu a {
  font-weight: normal;
  padding: 0 0 17px 15px;
}

.menu .active>a {
    background-color: #ccc;
}

.dropdown.menu .submenu {
    border: 0;
}

.dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
}

.dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
}

.dropdown.menu:first-child>li.is-dropdown-submenu-parent>a::after {
    display: none;
}

.site-navigation {
    @include breakpoint(small only) {
        padding: 0; // prevents container visibility on small screens
    }
}

// WP post navigation
.post-navigation {
    @include clearfix;
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}