.home {
	.page-header {
		@include breakpoint(xlarge) {
			height: 600px;
			// height: auto;
			// padding-bottom: calc(56.25vw - #{map-get($nav-height, large)});
		}
		@include breakpoint(xxlarge) {
			// padding-bottom: 0;
			// height: calc(85vh - #{map-get($nav-height, large)});
		}
		@include breakpoint(2559px) {
			height: 800px;
		}
		@include breakpoint(2880px) {
			height: 900px;
			max-height: 900px;
		}
	}
	@include breakpoint(small) {
		.fullscreen-bg__video {
			display: none;
		}
	}
  @include breakpoint(landscape) {
    .fullscreen-bg__video {
      display: block;
      position: absolute;
      bottom: 0;
			width: 100%;
			&--portrait {
				width: auto;
				height: auto;
				min-width: 100%;
				min-height: 100%;
			}
    }
	}
  @include breakpoint(large down) {
    .page-header {
      &__content {
        h1 {
					font-size: 40px;
          line-height: 1.15;
          margin-bottom: 20px;
        }
      }
    }
	}
	@include breakpoint(mobile down) {
		.page-header {
			background-position-x: -510px;
		}
	}
	@include breakpoint(414px down) {
		.page-header {
			background-position-x: -380px;
			&__content {
				h1 {
					font-size: 34px;
				}
			}
		}
	}
	@include breakpoint(376px down) {
		.page-header {
			background-position-x: -335px;
		}
	}
	.site-header {
		background-color: transparent;
		&.pos-fixed {
			background-color: white;
		}
	}
}