.page-header {
    &--bg-img {
        @extend .bg-cover;
        width: 100%;
        margin: 0 auto;
        @include breakpoint(small) {
            padding-bottom: 0;
            height: 246px;
        }
        @include breakpoint(medium) {
            height: 0;
            padding-bottom: 51.25vw;
        }
        @include breakpoint(xlarge) {
            padding-bottom: 0;
            height: calc(100vh - 123px);
        }
    }
    &__content {
        @include breakpoint(small only) {
            position: relative;
            text-align: center;
            transform: translateY(25%);
        }
        @include breakpoint(medium) {
            transform: none;
            text-align: left;
            position: absolute;
            left: 10px;
            top: 14vw;
        }
        @include breakpoint(xlarge) {
            top: 170px;
            &--singular {
              top: 210px;
            }
        }
    }
}

.page-title {
    @include breakpoint(medium) {
        font-size: 36px;
    }
    @include breakpoint(xlarge) {
        font-size: 42px;
    }
    &__red {
        color: $primary-color;
    }
    &__white {
        color: white;
    }
}

.page-subheading {
    p {
        color: $secondary-color;
        line-height: 1.33;
        letter-spacing: 0.01em;
        @include breakpoint(medium) {
            font-size: 21px;
        }
        @include breakpoint(xlarge) {
            font-size: 24px;
        }
    }
    &__white {
        p {
            color: white;
        }
    }
}

.content-padding {
    .main-container,
    .container {
        @include breakpoint(small) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include breakpoint(medium) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        @include breakpoint(large) {
            padding-top: 125px;
            padding-bottom: 125px;
        }
    }
}