.page-header {
  @include breakpoint(small) {
    .main-container {
      height: 100%;
    }
  }
  &--bg-img {
    @extend .bg-cover;
    background-position: center bottom;
    width: 100%;
    margin: 0 auto;
		max-height: 800px;
		&--thin {
			max-height: 390px;
			@include breakpoint(medium) {
				.page-header__content {
					left: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
    @include breakpoint(small) {
			padding-bottom: 0;
			height: calc(100vh - #{map-get($nav-height, small)});
			.main-container,
			.container {
				padding-bottom: 0;
				height: 100%;
			}
    }
    @include breakpoint(medium) {
			height: 0;
			padding-bottom: 51.25vw;
			.main-container,
			.container {
				height: 0;
				padding-bottom: 51.25vw;
			}
    }
    @include breakpoint(xlarge) {
			padding-bottom: 0;
			height: calc(85vh - #{map-get($nav-height, large)});
			.main-container,
			.container {
				padding-bottom: 0;
				height: 100%;
			}
    }
  }
  &__content {
    @include breakpoint(small) {
      top: auto;
      left: 0;
      height: 100%;
      align-items: center;
    }
    @include breakpoint(medium) {
      transform: none;
      text-align: left;
      position: absolute;
      height: auto;
      left: 20px;
      top: 14vw;
      &--home {
        left: 92px;
        top: 40px;
      }
    }
    @include breakpoint(large) {
      top: 75px;
      left: 60px;
      &--home {
      }
    }
    @include breakpoint(xlarge) {
      top: 14vh;
      // transform: translateY(-50%);
      &--home {
        top: 6vh;
        transform: none;
        left: 0;
      }
    }
  }
}

.page-title {
  @include breakpoint(medium) {
    font-size: 36px;
  }
  @include breakpoint(xlarge) {
    font-size: 42px;
  }
  &__red {
    color: $primary-color;
  }
  &__white {
    color: white;
  }
}

.page-subheading {
  p {
    color: $secondary-color;
    line-height: 1.33;
    letter-spacing: 0.01em;
    @include breakpoint(medium) {
      font-size: 21px;
    }
    @include breakpoint(xlarge) {
      font-size: 24px;
    }
  }
  &__white {
    p {
      color: white;
    }
  }
}

.content-padding {
  .main-container,
  .container {
    @include breakpoint(small) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @include breakpoint(medium) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include breakpoint(large) {
      padding-top: 125px;
      padding-bottom: 125px;
    }
  }
  &.archive-page--careers {
    .main-container,
    .container {
      @include breakpoint(large) {
        padding-top: 90px;
      }
    }
  }
}

aside.sidebar {
	h6 {
		font-size: 26px;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
		li {
			line-height: 1.2;
			margin-bottom: 23px;
			a {
				font-size: 16px;
			}
			.post-date {
				font-size: 16px;
				display: block;
			}
		}
	}
	@include breakpoint(mobile down) {
		margin-bottom: 60px;
	}
}