button,
.sites-button {
  background: transparent;
  font-size: 18px;
  font-weight: normal;
  box-shadow: none;
  border: 1px solid;
}

.button-menu {
  background: $primary-color;

  a {
    color: white !important;
  }
}