.button,
.sites-button {
  background: transparent;
  font-size: 18px;
  font-weight: normal;
  box-shadow: none;
  border: 1px solid;
  transition: all 300ms;
  outline: none;
  cursor: pointer;
  &__cta {
    line-height: 1;
    border-width: 1.5px;
    @include breakpoint(small) {
      font-size: 18px;
      font-weight: normal;
      padding: 11px 55px;
      border-width: 1px;
      min-width: 215px;
      min-height: 41px;
      line-height: 41px;
      padding: 0;
      margin-bottom: 0;
      &:hover,
      &:focus {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
      }
    }
    &--dark {
      border-color: $secondary-color;
      color: $secondary-color;
      &:hover,
      &:focus {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: white;
      }
    }
    &--opacity {
      background-color: rgba($color: #fcfcfc, $alpha: 0.75);
    }
  }
  &__archive-page {
    background-color: $secondary-color;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    &:hover,
    &:focus {
      background-color: darken($secondary-color, 10);
    }
  }
  &__primary {
    font-size: 18px;
    color: white;
    background-color: $primary-color;
    padding: 12px 35px;
    border: none;
    &:hover,
    &:focus {
      background: darken($primary-color, 10);
    }
  }
}

.button-menu {
  transition: background 300ms;
  &:hover,
  &:focus {
    background: darken($primary-color, 10);
  }
  a {
		background-color: $primary-color !important;
    color: white !important;
  }
  @include breakpoint(medium down) {
    background: none;
    a {
      background: $primary-color;
      display: inline-block;
    }
  }
}